/*BODY*/

body {
    font-family: "Blinker", sans-serif;
    text-transform: uppercase ;
}

/*HEADERS*/

h1{
    font-size: 75px;
    color: rgb(251, 173, 26);
}

h2{
    font-size: 15px;
}

h3{
    font-size: 15px;
}

/*FOOTER*/

.footer{
    text-align: center
}

/*BUTTON*/

.homeButton{
    text-align: end;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

/*LINKS*/

a:link {
    color: orange;
}
  
/* VISITED LINK */

a:visited {
    color: blue;
}
  
/* MOUSE OVER LINK */

a:hover {
    color:red;
}

/*PROFILE*/

.profile .avatar img{
    width:2%;
    height:2%;
}

/*IMAGE POSITION*/

.tileContainer1 .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
  }

/*CONTAINER 1*/

.tileContainer1{
    display: grid; 
    grid-template-columns: 10% 5% 5% 60% 10% 10%;
    grid-template-rows: 10% 5% 37.5% 5% 37.5% 5%;
    height:1333px;
    width:1440px;
    align-self: center; 
    grid-template-areas: 
    "one one . . . ."
    ". . . . . . "
    ". . . two . ."
    ". . . . . ."
    ". three three three three ."
    ". . . . . .";
}

.box{
    display: flex;
    align-items: center;
    justify-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.tileContainer1 .image{
    width:100%;
    height:100%;
}

#one{
    grid-area: one;
    font-size: 50px;
    text-decoration: underline;
}

#two{
    grid-area: two; 
}

#three{
    grid-area: three; 
    font-size: 15px;
}

/*MEDIA IPAD*/

@media (max-width: 1024px)
{
    .tileContainer1{
        height:948px;
        width:1024px;
    }
    
    #one{
        font-size: 30px;
    }

    .footer{
        text-align:left;
    }
    
}

/*MEDIA IPHONE 8*/

 @media (max-width: 736px)
{
    .tileContainer1{
        height: 680px;
        width: 736px;
    }
    
    .tileContainer1 .image{
        width:100%;
        height:100%;
    } 

    #three{
        font-size: 10px;
    }
} 