/*BODY*/

body {
    font-family: "Blinker", sans-serif;
    text-transform: uppercase;
}

/*HEADERS*/

h1{
    font-size: 75px;
    color: rgb(251, 173, 26);
}

h2{
    font-size: 15px;
}

h3{
    font-size: 15px;
}

/*FOOTER*/

.footer{
    text-align: center;
}

/*BUTTON*/

.homeButton{
    text-align: end;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

/*LINKS*/

a:link {
    color: orange;
}
  
/* VISITED LINK*/

a:visited {
    color: blue;
}
  
/* MOUSE OVER LINK*/

a:hover {
    color:red;
}

/*IMAGE POSITION*/

.tileContainer1 .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
  }

/*CONTAINER 1*/

.tileContainer1{
    display: grid; 
    grid-template-columns: 5% 5% 5% 32.5% 5% 27.5% 15% 5%;
    grid-template-rows: 10% 10% 45% 10% 20% 5%;
    height:800px;
    width:1440px;
    align-self: center; 
    grid-template-areas: 
    "one one . . . . . . "
    ". . . . . . . ."
    ". . . two two two . ."
    ". . . . . . . ."
    ". three three three . four four ."
    ". . . . . . . .";
}

.tileContainer1 .image{
    width:100%;
    height:100%;
}

.box{
    display: flex;
    align-items: center;
    justify-items: center;
}

#one{
    grid-area: one;
    font-size: 50px;
    text-decoration: underline;
}

#two{
    grid-area: two;
} 

#three{
    grid-area: three; 
    font-size: 15px;
}

#four{
    grid-area: four; 
    font-size: 15px;
}

/*MEDIA IPAD*/

@media (max-width: 1024px)
{
    .tileContainer1{
        height:568px;
        width:1024px;
    }
    
    #one{
        font-size: 30px;
    }

    .footer{
        text-align:left;
    }
    
}

/*MEDIA IPHONE 8*/

@media (max-width: 736px)
{
    .tileContainer1{
        height: 408px;
        width: 736px;
    }
    
    .tileContainer1 .image{
        width:100%;
        height:100%;
    } 

    #three{
        font-size: 10px;
    }

    #four{
        font-size: 10px;
    }
} 