/*BODY*/

body {
    font-family: "Blinker", sans-serif;
    text-transform: uppercase;
}

/*HEADERS*/

h1{
    font-size: 9.9vw;
    font-size: 9.9vh;
    color: rgb(251, 173, 26);
}

h2{
    font-size: 1.9vw;
    font-size: 1.9vh;
}

h3{
    font-size: 2.9vw;
    font-size: 2.9vh;
}

/*FOOTER*/

.footer{
    text-align: center;
}

/*BUTTON*/

.homeButton{
    text-align: end;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
}

/*LINKS*/

a:link {
    color: orange;
}
  
/* visited link */
a:visited {
    color: blue;
}
  
/* mouse over link */
a:hover {
    color:red;
}

/*CONTAINER 1*/

.tileContainer1{
    display: grid; 
    grid-template-columns: 5% 5% 5% 32.5% 5% 27.5% 15% 5%;
    grid-template-rows: 10% 10% 30% 10% 10% 10%;
    height: 100vh;
    width:100vw;
    align-self: center; 
    grid-template-areas: 
    "one one . . . . . . "
    ". . . . . . . ."
    ". . . two two two . ."
    ". . . . . . . ."
    ". three three three . four four ."
    ". . . . . . . .";
}

.tileContainer1 .image{
    width:100%;
    height:100%;
}

.box{
    display: flex;
    align-items: center;
    justify-items: center;
}

#one{
    grid-area: one;
    font-size: 50px;
    text-decoration: underline;
}

#two{
    grid-area: two;
} 

#three{
    grid-area: three; 
    font-size: 1.9vh;
}

#four{
    grid-area: four; 
    font-size: 1.9vh;
}